{% extends 'main/base.html' %}

{% load static %}
{% static "img" as baseUrl %}
{% static "category_img" as baseUrl %}
{% block content %}

<!-- start of author single -->
<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      {% for a in author_data%}
      <div class="col-xl-9 col-lg-10 text-center">
        <div class="mb-5">
          <img loading="lazy" class="img-fluid" src="{{ a.profile_pic.url }}" alt="Ann Monika" width="180" height="180">
        </div>
        <h4 class="text-dark mb-1">{{ a.user.username}}</h4>
        <p>{{ a.skills}}</p>
        <p class="mb-3">
          <span class="fw-medium text-black">
            <i class="ti ti-edit-circle me-2"></i>03 </span> Published Posts
        </p>
        <div class="content">
          <p>{{ a.bio}}</p>
        </div>
        <ul class="list-inline social-links mt-4">
          <li class="list-inline-item me-4 mt-1 text-center">
            <a class="lh-1" href="#!" title="Twitter">
              <i class="ti ti-brand-twitter"></i>
              <span class="text-link">Twitter</span>
            </a>
          </li>
          <li class="list-inline-item me-4 mt-1 text-center">
            <a class="lh-1" href="#!" title="Linkedin">
              <i class="ti ti-brand-linkedin"></i>
              <span class="text-link">Linkedin</span>
            </a>
          </li>
          <li class="list-inline-item me-4 mt-1 text-center">
            <a class="lh-1" href="#!" title="Facebook">
              <i class="ti ti-brand-facebook"></i>
              <span class="text-link">Facebook</span>
            </a>
          </li>
        </ul>
        <div class="section">
          <div class="border-top"></div>
        </div>
      </div>
     
    </div>
<div class="row align-items-center section-title">
      <div class="col-12 text-center">
        <h2 class="h3 mb-0 title">Posts by {{ a.user.username}}</h2>
      </div>
      {% endfor %}
    </div>
    <div class="row gy-5 gx-md-5">
      {% for blog in blog %}
      <div class="col-lg-4 col-md-6">
        <article class="bg-white d-flex flex-column h-100">
         
          <div class="p-4 ">
            <ul class="post-meta list-inline mb-3">
              <li class="list-inline-item">
                <i class="ti ti-calendar-event me-1"></i>{{blog.created|date}}
              </li>
              <li class="list-inline-item">•</li>
              <li class="list-inline-item">
                <i class="ti ti-clock-2 me-1"></i>02 min read
              </li>
            </ul>
            <div class="position-relative">
              <h3 class="h4 post-title mb-2 line-clamp clamp-2">
                <a class="text-link stretched-link" href="{% url 'index' %}blog/{{blog.blog_url}}" title="{{blog.title}}">{{blog.title}}</a>
              </h3>
              <p class="mb-0 line-clamp clamp-3">{{blog.snipit}}</p>
            </div>
          </div>
        </article>
      </div>{% endfor %}
     
    </div> 
  </div>
</section>
<!-- start of author single -->

{% endblock %}