{% extends 'main/base.html' %}

{% load static %}
{% static "img" as baseUrl %}
{% static "category_img" as baseUrl %}
{% block content %}



<!-- start of authors -->
<section class="section pt-0">
  <div class="container">
    <div class="row gy-5 justify-content-center">
      <!-- author item -->
      {% for a in author %}
      <div class="col-xl-9 col-lg-10">
        <div class="bg-white p-4">
          <div class="d-sm-flex">
            <div class="flex-shrink-0">
              <img loading="lazy" class="img-fluid me-4 me-md-5" src="{{a.profile_pic.url}}" alt="{{ a.user.username}}" width="124" height="124">
            </div>
            <div class="flex-grow-1 mt-3 mt-sm-0">
              <h4 class="text-dark mb-1">{{ a.user.username}}</h4>
              <p class="mb-2">{{ a.skills }}</p>
              <span>{{ a.bio|truncatewords:15 }}</span>
              <a href="{% url 'author'%}/{{ a.user.id}}" class="ms-2 text-link active">Read More <i class="ti ti-arrow-right"></i>
              </a>
            </div>
          </div>
          <div class="opacity-50 pt-2 pb-1">
            <hr class="text-dark my-4">
          </div>
         
        </div>
      </div>
      {% endfor %}


    </div>
  </div>
</section>
<!-- end of authors -->

{% endblock%}