{% extends 'main/base.html' %}

{% load static %}
{% static "img" as baseUrl %}
{% static "category_img" as baseUrl %}

{% block content %}

<!-- start blog archive -->
<section class="section">
  <div class="container">
   
    <div class="col-lg-12">
      <div class="section-title text-center">
        <h2 class="h3 mb-0 title">All Blogs</h2>
      </div>
      <div class="row gy-5 gx-4 g-xl-5">
        
        {% for blog in blog%}
        <div class="col-lg-4 col-md-6">
          <article class="bg-white d-flex flex-column h-100">
            <div class="p-4 pb-0">
              <ul class="post-meta list-inline mb-3">
                <li class="list-inline-item">
                  <i class="ti ti-calendar-event me-1"></i>{{blog.created|date}}
                </li>
                <li class="list-inline-item">•</li>
                <li class="list-inline-item">
                  <i class="ti ti-clock-2 me-1"></i>{{blog.reading_time}} min read
                </li>
              </ul>
              <div class="position-relative">
                <h3 class="h4 post-title mb-2 line-clamp clamp-2">
                  <a class="text-link stretched-link" href="/blog/{{blog.blog_url}}" title="{{blog.title}}">{{blog.title}}</a>
                </h3>
                <p class="mb-0 line-clamp clamp-2">{{blog.snipit}}</p>
              </div>
            </div>
            <div class="post-author mt-auto p-4 pt-3">
              <a href="authors/{{blog.author.id}}" class="is-hoverable" title="Read all posts of {{blog.author}}">
                <img loading="lazy" class="w-auto rounded-circle me-2" src="{{blog.author.userprofileinfo.profile_pic.url}}" alt="{{blog.author}}" width="26" height="26">
              </a> by <a href="authors/{{blog.author.id}}" class="text-link" title="Read all posts of - {{blog.author}}">{{blog.author}}</a>
            </div>
          </article>
        </div>
        {% endfor %}
        
      
        
       
      </div>
    </div>
  </div>
</section>
<!-- end blog archive -->

{% endblock %}